JWT_SECRET=
ORDERSERVICE_INTERNAL_SIGNING_SECRET=
ORDER_DB_NAME=orderserviceDb
ORDER_DB_USERNAME=postgres
ORDER_DB_PASSWORD=
ORDER_SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/orderserviceDb
ORDER_SPRING_DATASOURCE_USERNAME=postgres
ORDER_SPRING_DATASOURCE_PASSWORD=
ORDER_SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
USERSERVICE_BASE_URL=http://host.docker.internal:8081
AUTHSERVICE_BASE_URL=http://host.docker.internal:8082
INTERNAL_TTL_SECONDS=60
